body {
  background-color: biege;
}
p {
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: beige;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 150px;
  font-size: 25px;
}
h3 {
  color: beige;
  text-align: center;
  font-size: 50px;
}
a {
  color: beige;
  font-size: 150%;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-color: 1C231A;
}


li {
  float: left;
}

li a {
  display: block;
  color: DDE5DC;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: 394836;
}

li a.active {
  background-color: 3F4F3B;
  color: 1C231A;
}
